  <!-- Project Section -->
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <li class="w3-xxlarge"> <i class="glyphicon glyphicon-file" style="margin-top: 5%; margin-left: 0%;">   <a routerLink="/add" class="w3-bar-item w3-button">ADD</a></i> </li>
   
    <div class="w3-container w3-content w3-center w3-padding-64" >
      <h2 class="w3-wide"> NECHEN 'S PRODUCT</h2>
      </div>
  
  
     <!-- First Photo Grid-->
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="../../assets/412138571_1302687333727668_3547592681084584170_n.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Lorem Ipsum</b></p>
        <p>35 DT</p>
        <button>delete</button>
        <button>update</button>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="../../assets/411727161_189593220843063_7677324927694119701_n.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Lorem Ipsum</b></p>
        <p>35 DT</p>       
         <button>delete</button>
        <button>update</button></div>
    </div>
    <div class="w3-third w3-container">
      <img src="../../assets/412272189_1360038601570109_4712528210172341916_n.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>BAGUE “BLUE HEART” </b></p>
        <p>16 DT</p>     
        <button>delete</button>
        <button>update</button>
       </div>
    </div>
  </div>
  
  <!-- Second Photo Grid-->
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="../../assets/412449062_2485255574988404_4100088621965362392_n.jpg"alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Lorem Ipsum</b></p>
        <p>35 DT</p>    
        <button>delete</button>
        <button>update</button>  </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="../../assets/411939634_717880596968515_1171762503165491869_n.jpg"alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Lorem Ipsum</b></p>
        <p>59 DT</p>    
        <button>delete</button>
        <button>update</button>  </div>
    </div>
    <div class="w3-third w3-container">
      <img src="../../assets/411971686_1541283179990672_8497877871668946983_n.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Lorem Ipsum</b></p>
        <p>40DT</p>  
        <button>delete</button>
        <button>update</button>    </div>
    </div>
  </div>
  
  


  
 
<!-- <ul *ngFor="let pro of productsss">
  <li>{{pro.img}}</li>
  <li>{{pro.description}}</li>
  <li>{{pro.prix}}</li>
</ul>   -->

  </body>
  </html>
 