<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
body {font-family: "Open Sans"}
</style>
</head>
<body class="w3-light-grey">

<!-- Navigation bar with social media icons -->
<div class="w3-bar w3-black w3-hide-small">
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-facebook-official"></i></a>
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-instagram"></i></a>
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-snapchat"></i></a>
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-flickr"></i></a>
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-twitter"></i></a>
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-linkedin"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-right"><i class="fa fa-search"></i></a>
</div>
  
<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1600px">

  <!-- Header -->
  <header class="w3-container w3-center w3-padding-48 w3-white">
    <h1 class="w3-xxxlarge"><b>NECHEN BOUTIQUE</b></h1>
    <h6>Welcome to our<span class="w3-tag">JEWLERY's world</span></h6>
  </header>

  <!-- Image header -->
  <header class="w3-display-container w3-wide" id="home">
    <img class="w3-image" src="../../assets/Gray Gold Minimalist Jewelry Brand Fashion Facebook Cover (1).png" alt="Fashion Blog" width="1600" height="1060">
    <div class="w3-display-left w3-padding-large">
    </div>
  </header>


<hr>

  <!-- The boutique Section -->
  <!-- <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">NECHEN</h2>
    <p class="w3-opacity"><i>We love Jewelry</i></p>
    <p class="w3-justify">Welcome to Nechen, your premier destination for exquisite jewelry that effortlessly combines high quality with budget-friendly options. At Nechen, we pride ourselves on offering a diverse and captivating collection of jewelry that caters to the unique tastes and preferences of our customers. Our website is a haven for those seeking both elegance and affordability, featuring a curated selection of meticulously crafted pieces that exude timeless charm. Whether you're in search of dazzling diamonds, lustrous pearls, or trendy fashion accessories, Nechen has you covered. Our commitment to providing exceptional value ensures that you can adorn yourself with the finest jewelry without breaking the bank. Explore our user-friendly platform, where each piece tells a story of craftsmanship, passion, and style. Discover the perfect adornment to complement your individuality at Nechen, where luxury meets accessibility.</p>
    <div class="w3-row w3-padding-32"> -->
    
    <!-- </div>
  </div> -->




<!-- About Container -->
<div class="w3-container" id="about">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">ABOUT NECHEN</span></h5>
    <p class="w3-opacity"><i>We love Jewelry</i></p>
    <p>Welcome to Nechen, your premier destination for exquisite jewelry that effortlessly combines high quality with budget-friendly options. At Nechen, we pride ourselves on offering a diverse and captivating collection of jewelry that caters to the unique tastes and preferences of our customers. Our website is a haven for those seeking both elegance and affordability, featuring a curated selection of meticulously crafted pieces that exude timeless charm. Whether you're in search of dazzling diamonds, lustrous pearls, or trendy fashion accessories, Nechen has you covered. Our commitment to providing exceptional value ensures that you can adorn yourself with the finest jewelry without breaking the bank. Explore our user-friendly platform, where each piece tells a story of craftsmanship, passion, and style. Discover the perfect adornment to complement your individuality at Nechen, where luxury meets accessibility.</p>
    <div class="w3-panel w3-leftbar w3-light-grey">
      <p> Owner:sarra chaabani and maryem taouai</p>
    </div>
    <img src="../../assets/a5244c_shangai1-1.jpg" style="width:100%;max-width:1000px" class="w3-margin-top">
    <p><strong>Opening hours:</strong> everyday from 6am to 5pm.</p>
    <p><strong>Address:</strong>  Zahrouni: 10 rue Ahmed Ben Lebda Tunis, 2051</p>
  </div>
</div>


  <!-- First Photo Grid-->
  <div class="w3-container w3-content w3-center w3-padding-64" >
    <h2 class="w3-wide">our best seller at Nechen</h2>
    </div>
 
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <div class="w3-quarter">
      <img src="../../assets/412138571_1302687333727668_3547592681084584170_n.jpg" alt="Sandwich" style="width:100%">
      <h3>BRACELET “TWIST”</h3>
      <p>55 DT</p>
    </div>
    <div class="w3-quarter">
      <img src="../../assets/411727161_189593220843063_7677324927694119701_n.jpg" alt="Steak" style="width:100%">
      <h3>BAGUE “BLUE HEART”</h3>
      <p>35 DT</p>
    </div>
    <div class="w3-quarter">
      <img src="../../assets/411939634_717880596968515_1171762503165491869_n.jpg" alt="Cherries" style="width:100%">
      <h3>BOUCLE “SPLENDID”</h3>
      <p>25 DT</p>
    
    </div>
    <div class="w3-quarter">
      <img src="../../assets/412067829_710094701218897_4431151297230715341_n.jpg" alt="Pasta and Wine" style="width:100%">
      <h3>BAGUE “ARABESQUE”</h3>
      <p>40 DT</p>
    </div>
  </div>
 
</div>

<hr>
